<system.webServer>
    <httpProtocol>
        <customHeaders>
            <!--
            Allow Web API to be called from a different domain.
            http://dlr2008.wordpress.com/2012/04/26/asp-net-web-api-cross-domain-ajax-and-server-techniques-jsonp-and-cors/
            -->
            <add name="Access-Control-Allow-Origin" value="*" />
        </customHeaders>
    </httpProtocol>
</system.webServer>
